USE [DemoUchebVasilev]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26.02.2024 17:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MaterialTypeId] [int] NOT NULL,
	[PackageAmount] [nchar](10) NOT NULL,
	[MeasurementTypeId] [int] NOT NULL,
	[TotalCount] [int] NOT NULL,
	[MinBalance] [int] NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 26.02.2024 17:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementType]    Script Date: 26.02.2024 17:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementType](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MeasurementType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.02.2024 17:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Articul] [int] NOT NULL,
	[MinCost] [decimal](18, 2) NOT NULL,
	[Image] [varbinary](max) NULL,
	[ProductTypeId] [int] NOT NULL,
	[WorkersCount] [int] NOT NULL,
	[WorkshopId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 26.02.2024 17:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 26.02.2024 17:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[Id] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[ReqMaaterialAmount] [int] NOT NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshop]    Script Date: 26.02.2024 17:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshop](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Workshop] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageAmount], [MeasurementTypeId], [TotalCount], [MinBalance], [Cost]) VALUES (1, N'Спрессованный материал серый 0x2', 1, N'5         ', 1, 140, 49, CAST(33128.00 AS Decimal(18, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageAmount], [MeasurementTypeId], [TotalCount], [MinBalance], [Cost]) VALUES (2, N'Рулон бумаги зеленый 1x1', 2, N'3         ', 1, 634, 36, CAST(26841.00 AS Decimal(18, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageAmount], [MeasurementTypeId], [TotalCount], [MinBalance], [Cost]) VALUES (3, N'Спрессованный материал розовый 2x1', 1, N'8         ', 1, 636, 21, CAST(52606.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (1, N' Пресс    ')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (2, N' Рулон    ')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (3, N' Гранулы  ')
GO
INSERT [dbo].[MeasurementType] ([Id], [Name]) VALUES (1, N' м')
INSERT [dbo].[MeasurementType] ([Id], [Name]) VALUES (2, N' л')
INSERT [dbo].[MeasurementType] ([Id], [Name]) VALUES (3, N' кг')
GO
INSERT [dbo].[Product] ([Id], [Name], [Articul], [MinCost], [Image], [ProductTypeId], [WorkersCount], [WorkshopId]) VALUES (2, N'Набор 24М Дыня', 337632, CAST(11471.00 AS Decimal(18, 2)), NULL, 2, 5, 5)
INSERT [dbo].[Product] ([Id], [Name], [Articul], [MinCost], [Image], [ProductTypeId], [WorkersCount], [WorkshopId]) VALUES (3, N'Набор 9М Бриз', 259548, CAST(2317.00 AS Decimal(18, 2)), NULL, 2, 4, 5)
GO
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (1, N'Три слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (2, N'Два слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (3, N'Детская')
GO
INSERT [dbo].[Recipe] ([Id], [ProductId], [MaterialId], [ReqMaaterialAmount]) VALUES (1, 63, 24, 20)
INSERT [dbo].[Recipe] ([Id], [ProductId], [MaterialId], [ReqMaaterialAmount]) VALUES (2, 71, 6, 1)
INSERT [dbo].[Recipe] ([Id], [ProductId], [MaterialId], [ReqMaaterialAmount]) VALUES (3, 37, 6, 4)
GO
INSERT [dbo].[Workshop] ([Id], [Name]) VALUES (1, N'Цех №1')
INSERT [dbo].[Workshop] ([Id], [Name]) VALUES (2, N'Цех №2')
INSERT [dbo].[Workshop] ([Id], [Name]) VALUES (3, N'Цех №3')
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MeasurementType] FOREIGN KEY([MeasurementTypeId])
REFERENCES [dbo].[MeasurementType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MeasurementType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Workshop] FOREIGN KEY([WorkshopId])
REFERENCES [dbo].[Workshop] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Workshop]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Material]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Product]
GO
